/*
eXe
Copyright 2004-2006, University of Auckland
Copyright 2004-2007 eXe Project, New Zealand Tertiary Education Commission
base style sheet for all themes
*/
/*
body{margin:0;padding:0 10px 10px 10px;font-family:arial,verdana,helvetica,sans-serif;font-size:.8em}
#header{text-align:left;height:50px;padding-left:20px;font-size:2.2em;font-weight:bold}
a{text-decoration:none}
a:hover,a:focus{text-decoration:underline}
img.submit,img.help,img.info,img.gallery{border:0}
/*
li{list-style-position:inside}
#nodeDecoration{padding:0.1em;border-bottom:0em;text-align:right}
.block,.feedback{display:block;padding-top:0.25em;padding-bottom:0.25em}
.feedback{font-family:times,serif;font-size:120%}
.feedback-button p{margin:0}
/* iDevice */


/*
.exe-dl{margin-bottom:2em;margin-left:1.5em}
.exe-dl dt{font-weight:bold}
.exe-dl dd{margin:1em 1.5em}
.js .exe-dl dt{margin:1.2em 0 0 0}
.exe-dl dt a{text-decoration:underline}
.exe-dl .icon,.exe-dl-toggler a{display:block;width:20px;height:20px;font-size:1.2em;margin-right:1em;line-height:20px;text-align:center;float:left;border-radius:2px;position:relative}
.exe-dl-toggler{height:20px;margin:1.5em}
.exe-dl-toggler a{margin-left:0;font-weight:bold}
.js .exe-dl dd{display:none;padding-left:0;margin:1em 1em 1em 37px}

*/


/* TinyMCE: Images and media */
/*
.exe-figure{margin:2em 0;max-width:100%}
.position-center{margin:2em auto}
.position-right{margin:2em 0 2em auto}
.float-left{float:left;margin:.5em 1.5em 1em 0}
.float-right{float:right;margin:.5em 0 1em 2em}
.figcaption{padding-top:.2em}
.figcaption.header{padding-top:0;padding-bottom:.2em}
*/

/* TinyMCE templates */

/*.exe-layout-2-cols,.exe-layout-3-cols{width:100%}
.exe-layout-2-cols .exe-col{float:left;width:49%}
.exe-layout-2-cols .exe-col-1{padding-right:1%}
.exe-layout-2-cols .exe-col-2{padding-left:1%}
.exe-layout-2-30-70 .exe-col{width:69%}
.exe-layout-2-30-70 .exe-col-1{width:29%}
.exe-layout-2-70-30 .exe-col{width:29%}
.exe-layout-2-70-30 .exe-col-1{width:69%}
.exe-layout-3-cols .exe-col{float:left;width:32%}
.exe-layout-3-cols .exe-col-1,.exe-layout-3-cols .exe-col-2{padding-right:2%}
*/
/* Enlarge icon */
/*
.js a.exe-enlarge{position:relative;display:block}
.exe-enlarge-icon{display:none;width:30px;height:30px;position:absolute;top:50%;left:50%;margin:-15px 0 0 -15px;border-radius:15px;background:#333;z-index:10;box-shadow:0 0 7px 0 #DDD}
.exe-enlarge-icon b{width:30px;height:30px;line-height:30px;text-align:center;display:block;font-size:1.3em;color:#FFF}
.exe-enlarge-icon b:before{content:"+"}
.js a.exe-enlarge:hover img,.js a.exe-enlarge:focus img{opacity:0.7;filter:alpha(opacity=70)}
a.exe-enlarge:hover .exe-enlarge-icon,a.exe-enlarge:focus .exe-enlarge-icon{display:block;*display:none}
*/
/* Autoclear */

/* Tooltips */

/* Responsive design */
